* {
  font-size: 18px;
}

/* Header styles */
header {
  display: flex;
}

.logo {
  flex:1;
}

.name {
  flex-grow: 8;
  text-align: center;
}

.navButton {
  flex: 1;
  text-align: right;
}
/* end of Header styles */

/* Main content style */

main {
  min-height: 200px;
  border: 1px solid black
}

/* end of Main content style */

/* footer style */
footer {
  text-align: center;
  /* background-image:url('../imgs/headshot.jpg'); */
}


/* end of footer styles */
