
/* Header styles */
header {
  display: flex;
}

.logo {
  flex:1;
}

.logoImage img{
width: 100%;
}

.name {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  flex-grow: 8;
  text-align: center;
}

nav {
  position: relative;
  flex:1;
}

.navButton {
  text-align: right;
  font-size: 30px;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right: 0px;
  text-align: right;
  font-family: mr-eaves-modern, san-serif;
  font-size: 22px;
}

nav:hover ul {
  display: block;
}


/* end of Header styles */

/* Main content style */
.aboutMe {
  margin-top: -20px;
  padding-bottom: 20px;
  padding-left: -15px;
}

.aboutMe h3 {
  font-family: mr-eaves-modern, sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}

.aboutMe p {
  font-size: 20px;
  font-family: Raleway, sans-serif;
  margin-top: -20px;
  margin-right: 240px;
}

main {
  min-height: 200px;
  margin-top: 30px;
  /* border: 1px solid black; */
}

.profileImage {
  text-align: center;
}

.profileImage img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  padding: 0px 10px;
}

.aboutMe hr {
 margin-right: 240px;
 margin-top: 50px;
}

.software {
  padding-top: 10px;
  padding-left: 23px;
}

.software h4{
  font-family: mr-eaves-modern, sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 0px 120px;
  margin-bottom: 0;
}

.skills {
  list-style-type: none;
  display: flex;
  margin-left: -15px;
}

.skills li {
  display: flex;
  margin-left
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 40px;
  align-items: left;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
 background-color: #000000;
 color: #b9c4c5;
 padding: .25px, .25px;
}

.nav a:hover {
 color: #FFFFFF;
 background-color: #000000;
 transition: .4s ease;
}

/* end of Main content style */

/* footer style */
footer {
  text-align: center;
  padding-top: 20px;
  /* background-image:url('../imgs/headshot.jpg'); */
}

.socialMedia i {
  padding: 0 .5rem;
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: black;
}

/* end of footer styles */

@media screen and (min-width: 800px) {
  section{
    display: flex;
  }

  .profileImage {
    flex:1;
    text-align: center;
  }

  .aboutMe, hr, .software {
    flex: 1;
    align-content: center;
  }

  footer {
    display: flex;
  }

  .copy, .socailMedia, .contact {
    flex: 1;
  }

  .copy {
    text-align: left;
  }

  .contact {
    text-align: right;
  }
}
