@charset "UTF-8";
/* CSS Document */

.top {
	margin: 0px 0px;
  padding-bottom: 0;
  background-color: #b9c4c5;
	margin-bottom: -5px;
}

.active a {
 color: #ffffff;
}

.nav {
 list-style-type: none;
 width: 100%;
 font-family: mr-eaves-modern,sans-serif;
 color: white;
 text-align: center;
 margin-left: 25;
 padding: 0;
 padding-bottom: 30px;
}

.nav li {
display: inline-block;
padding-right: 5%;
padding-left: 3%;
font-family: mr-eaves-modern,sans-serif;
font-size: 20px;
font-style: normal;
margin-top: -10;
}

.nav a:link {
	text-decoration: none;
	color: #000000;
	padding: 7px;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	}

li a {
 text-decoration: none;
 color: black;
}

li a:hover:not(.active) {
 background-color: #000000;
 color: #b9c4c5;
 padding: .25px, .25px;
}

.nav a:hover {
 color: #FFFFFF;
 background-color: #000000;
 transition: .4s ease;
}


.title {
    width: 100%;
    padding-left: 0px;
    text-align: center;
}

.title img {
    padding-top: 10px;
    width: 50%;
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 35px;
    font-style: bold;
    margin-top: 35px;
    margin-bottom: -30px;
}

 .viewer img {
   width: 80%;
	 margin-bottom: 20px;
	 max-height: 800px;
	 max-width: 700px;
 }

 .back img {
	 margin-top: 40px;
 }

 .footer {
 	clear: both;
 	text-align: right;
 	width: 100%;
 	background-color: #b9c4c5;
 	margin-bottom: 0px;
 	padding: 60px 0px;
 	margin-top: 75px;
 }

 .footer ul li {
 	padding-right: 30px;
 	color: red;
 	display: inline;
 	text-align: right;
 }

 .footer a {
 	text-decoration: none;
 }
