@charset "UTF-8";
/* CSS Document */

header {
  display: flex;
}

.logo {
  flex:1;
}

.logoImage img{
width: 100%;
}

.name {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  flex-grow: 8;
  text-align: center;
}

nav {
  position: relative;
  flex:1;
}

.navButton {
  text-align: right;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right: 0px;
  text-align: right;
  font-family: mr-eaves-modern, san-serif;
  font-size: 22px;
}

nav:hover ul {
  display: block;
}

.title {
    width: 100%;
    padding-left: 0px;
    text-align: center;
}

.title img {
    padding-top: 10px;
    width: 50%;
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 35px;
    font-style: bold;
    margin-top: 35px;
    margin-bottom: -30px;
}

 .viewer img {
   width: 80%;
	 margin-bottom: 20px;
	 max-height: 800px;
	 max-width: 700px;
 }

 .back img {
	 margin-top: 40px;
 }

 .footer {
 	clear: both;
 	text-align: right;
 	width: 100%;
 	background-color: #b9c4c5;
 	margin-bottom: 0px;
 	padding: 60px 0px;
 	margin-top: 75px;
 }

 .footer ul li {
 	padding-right: 30px;
 	color: red;
 	display: inline;
 	text-align: right;
 }

 .footer a {
 	text-decoration: none;
 }
