@charset "UTF-8";
/* CSS Document */
.title {
	background-color: #b9c4c5;
	margin-left: 0px;
	width: 100%;
}

.top {
	margin: 0px 0px;
  padding-bottom: 0;
  background-color: #b9c4c5;
}

.active a {
 color: #ffffff;
}

nav {
  position: relative;
  flex:1;
}

.navButton {
  text-align: right;
}

nav ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  right: 0px;
  text-align: right;
  font-family: mr-eaves-modern, san-serif;
  font-size: 22px;
}

nav:hover ul {
  display: block;
}

.title {
    width: 100%;
    padding-left: 0px;
    text-align: center;
}

.title img {
    padding-top: 10px;
    width: 50%;
    margin: 10px;
}

h1 {
		font-family: mr-eaves-modern, sans-serif;
    text-align: center;
    font-size: 35px;
    font-style: bold;
    margin-top: 35px;
    margin-bottom: -30px;
}

 .viewer img {
   width: 80%;
	 margin-bottom: 10px;
	 height: 600px;
	 width: 400px;
 }

 .back img {
	 margin-top: 40px;
 }

 .footer {
	 	clear: both;
	 	text-align: right;
	 	width: 100%;
	 	background-color: #b9c4c5;
	 	margin-bottom: 0px;
	 	padding: 60px 0px;
	 	margin-top: 75px;
	 }

	 .footer ul li {
	 	padding-right: 30px;
	 	color: red;
	 	display: inline;
	 	text-align: right;
	 }

	 .footer a {
	 	text-decoration: none;
	 }
